

.landing-page{
margin: 0 auto;
}

.top-landing-sec{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* padding: 0 5%; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.bottom-landing-sec{
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  padding: 0 5%;
}
.name{
  font-family: 'Roboto', sans-serif;
  width: 380px;
  font-size: 54px;
  padding-bottom: 20px;
  text-align: left;

  border-bottom: 4px solid red;
}

.name-container{
  width: 492px;
  font-size: 30px;
  line-height: 137.35%;
}
.tony-text-one{
  padding-top: 25px;
  text-align: left;
}

.projects{
  font-size: 54px;
}
.tonys-drawing{
  max-width: 800px;
  /* width: 650px; */
  height: auto;
}
.tony-iphone{
  height: auto;
  width: 500px;
}
.left-contain-phone{
  padding-right: 50px;
}
.anywhere-fit{

  margin: auto 0;
  width: 580px;
  text-align: left;
  padding-left: 20px;
}
.anywhere-p{
  padding: 20px 0px;
}
.any-h2{
  width: 335px;
}
/* .arrow-pic{
   animation: blinking 4s infinite; 
} */


/* second component starts here --------------*/
.second{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.second-p{
  max-width: 600px;
}
.tony-profile{
  height: 400px;
  width: 400px;
  padding-right: 100px;
}

.contact{
  width: 90px;
  margin: 10px auto  ;
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #2251D1;
  border-radius: 5px;
  padding: 10px;
}
/* second component ends here ----------------*/

.button{
  margin: 10px auto  ;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #2251D1;
  border-radius: 5px;
  padding: 10px;
}
.intro{
  width: 350px;
}
.Im{
  width: 375px;
  margin-bottom: 40px;
}
.contact{
  width: 120px;
}