.whole{
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 0 auto;
}

.right-nav-panel{
  margin: 0px 0px 0px auto;
  align-items: flex-end;
}

.nav-word{
  font-size: 20px;
  padding: 0px 10px;

}

.footer{
  /* margin: 0px 0px 0px auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bottom-contain{
  width: 100px;

}