.whole{
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 0 auto;
}

.right-nav-panel{
  margin: 0px 0px 0px auto;
  align-items: flex-end;
}

.nav-word{
  font-size: 20px;
  padding: 0px 10px;
}
.nav-word:active {
  font-size: 20px;
  padding: 0px 10px;
  color: #2251D1;
}

.footer{
  /* margin: 0px 0px 0px auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
}

.bottom-contain{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}