.most-p{
  width: 450px;
  font-size: 18px;
  line-height: 147.4%;
}

/* ------most paragraphs */
.sc{
  margin: 20px auto;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right-p{
  flex-direction: row;
  justify-content: end;
}
.colum{

  display: flex;
  flex-direction: column;
}
.colum-w{
  width: 450px;
}
.leftmar{
  margin: 0 15% ;
}
/* .left-p{
  flex-direction: row-reverse;
} */
/* section controll */
.topbanner{
  width: auto;
  margin-bottom: 40px;
}
.rest-third{
  width:1440px;
  margin: 0 auto;
}

.roles{
  /* margin: 0 auto; */
  display: flex;
  /* width: 90px; */
}
.role-width{
  text-align: left;
  width: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.253596px;
}
.block{
  width: 1200px;
  margin: 0 auto;
}
.firstp{
  width: 600px;
  height: auto;
}
/* pictues */
.anywhere-3{ display: flex;
  justify-content: space-evenly;
}
.phones-3{
  width: 240px;
}
.ben{
  width: 566px;
  padding-right: 30px;
}
/*  */
/* .left-center{
  display: ;
} */
.horizontal{
  padding-top: 30px;
  display: flex;
  width: 1300px;
}
.space{
  display: flex;
  justify-content: space-evenly;
}
.sep{
  padding-bottom: 10px;
  margin: 50px auto;
}
.pb{
  padding-bottom: 10px;
}
.p-left-m{
  padding-left: 20px;
}
.p-right-m{
  padding-right: 20px;
}
.fin{
  width:230px;
}
.map{

  margin-bottom: 20px;
}