@import url('//db.onlinewebfonts.com/c/7d349f3b93cd47712cf75443b05965bf?family=NeueHaasUnicaW1G-Medium');
/* @font-face {
   src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap); 
  font-family: 'Roboto', sans-serif;
 } */
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Neue Haas Unica W1G';
  /* font-family: 'Neue Haas Unica W1G'; */
  /* font-family: Neue Haas Unica W1G ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
}

code {
  font-family: 'Neue Haas Unica W1G';

  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
